html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
#root {
	margin: 0;
	font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

$whiteColor: #ffffff;
$blueColor: #1a16c5;
$silverColor: #b3b3b3;
$darkBlueColor: #0d0ba1;
$blackColor: #04080f;
$LgreyColor: #d3d3d3;

.container {
	background-image: url(/assets/SilverBkgrd2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	// height: 100vh;
	margin: 0;
}

// .homeButton {
// 	position: fixed;
// 	bottom: 0;
// 	left: 42%;
// 	font-size: 2em;
// 	border: none;
// 	cursor: pointer;
// 	color: $blueColor;
// 	background: transparent;
// }

// .homeButton:active {
// 	outline: none;
// 	border: none;
// }

.homeButton {
	border: none;
	cursor: pointer;
	color: $blueColor;
	background: $whiteColor;
	border-radius: 3px;
	box-shadow: 5px 5px 0px $blueColor;

	img {
		width: 50%;
	}
}

.homeButton:hover {
	background-color: $LgreyColor;
	transition: background-color 400ms, font-weight 400ms;
}

.homeButton:active {
	outline: none;
	border: none;
	box-shadow: 0 0px $blueColor;
	transform: translate3d(5px, 5px, 0px);
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 481px) {
	.homeButton {
		img {
			width: 60%;
		}
	}
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 890px) {
	.homeButton {
		img {
			width: 100%;
		}
	}
}

@media screen and (min-width: 1200px) {
}
