@use 'src/styles/base.scss' as base;

.education {
	padding: 70px 0px 10px 0px;
	display: grid;
	grid-template-columns: 1fr;

	div {
		border: 1px solid black;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 0px 1%;
		margin: 0% 0% 1% 0%;

		p {
			line-height: 1em;
			font-size: 1em;
		}

		h3 {
			color: base.$blueColor;
			margin: 0px 0px;
		}

		div.edLogo {
			border: none;
			padding: 0;

			a.punch {
				display: flex;
				justify-content: center;
				img {
					width: 55%;
				}
			}

			img.snhu {
				width: 70%;
				align-self: center;
			}
		}

		div.edList {
			border: none;

			h3 {
				color: base.$blueColor;
				text-align: center;
			}

			ul {
				display: flex;
				flex-wrap: wrap;
				padding: 0;

				li {
					margin: 0.25em 0.5em;
					color: base.$blackColor;
					list-style-type: none;
				}
			}
		}
	}

	a.edHome {
		justify-self: center;
		width: 40%;
	}
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 481px) {
	.education {
		padding: 50px 0px 10px 0px;

		div {
			div.edLogo {
				padding: 1%;

				a.punch {
					img {
						width: 40%;
					}
				}
			}

			div.edList {
				ul {
					li {
						margin: 0.25em 0.75em;
						list-style-type: disc;
					}
				}
			}
		}

		a.edHome {
			width: 25%;
		}
	}
}

@media screen and (min-width: 768px) {
	.education {
		padding: 50px 16% 10px 60px;

		div {
			div.edList {
				ul {
					li {
						margin: 0.5em 1em;
						list-style-type: disc;
					}
				}
			}
		}

		a.edHome {
			width: 40%;
		}
	}
}

@media screen and (min-width: 890px) {
	.education {
		padding: 20px 160px 10px 160px;
	}
}

@media screen and (min-width: 1200px) {
	.education {
		padding: 100px 160px 40px 160px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0px 2%;
		justify-content: center;

		div {
			border: 1px solid black;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding: 0px 20px;

			p {
				line-height: 1.4em;
				font-size: 1.1em;
			}

			h3 {
				color: base.$blueColor;
				margin: 10px 0px;
			}

			div.edLogo {
				border: none;
				display: flex;
				height: 80px;
				padding: 0;

				a {
					display: flex;
					justify-content: center;
					img {
						width: 55%;
					}
				}

				img.snhu {
					width: 70%;
					align-self: center;
				}
			}

			div.edList {
				border: none;
				height: 30%;

				h3 {
					color: base.$blueColor;
					text-align: center;
				}

				ul {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					grid-gap: 0% 5%;
					padding: 0;

					li {
						margin: 0.25em 0em;
						color: base.$blackColor;
					}
				}
			}
		}

		a.edHome {
			display: flex;
			justify-content: center;
			grid-column: 1 / span 2;
			justify-self: center;
		}
	}
}
