@use 'src/styles/base.scss' as base;

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: center;
	padding: 50px 0px 0px 0px;

	h1 {
		text-transform: uppercase;
		font-size: 2em;
		text-align: center;
		color: base.$silverColor;
		margin: 0;
		text-shadow: 0 6px 9px base.$blueColor, 0 -2px 1px base.$blueColor;
	}

	h2 {
		color: base.$blueColor;
		margin: 8%;
		font-size: 1em;
	}

	img {
		border-radius: 50%;
		width: 50%;
	}
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 480px) {
	.home {
		h1 {
			font-size: 2em;
		}

		h2 {
			margin: 2%;
		}
	}
}

@media screen and (min-width: 768px) {
	.home {
		padding: 0;

		h1 {
			font-size: 3em;
		}

		h2 {
			font-size: 2em;
		}

		img {
			width: 50%;
		}
	}
}

@media screen and (min-width: 992px) {
	.home {
		img {
			width: 35%;
		}
	}
}

@media screen and (min-width: 1200px) {
}
