@use 'src/styles/base.scss' as base;

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: center;

	h1 {
		text-transform: uppercase;
		font-size: 2em;
		text-align: center;
		color: base.$silverColor;
		margin: 0;
		text-shadow: 0 6px 9px base.$blueColor, 0 -2px 1px base.$blueColor;
	}

	h2 {
		color: base.$blueColor;
		margin: 8%;
		font-size: 1em;
	}

	img {
		border-radius: 50%;
		width: 50%;
	}
}

@media screen and (min-width: 481px) {
	.home {
		padding: 50px 0px 10px 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;

		h1 {
			font-size: 2em;
			margin: 0;
		}

		h2 {
			margin: 2% 5%;
		}

		img {
			width: 30%;
		}
	}
}

@media screen and (min-width: 768px) {
	.home {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		padding: 0;

		h1 {
			font-size: 2em;
			margin: 0% 0% 1% 0%;
		}

		h2 {
			font-size: 1.5em;
			margin: 0% 0% 5% 0%;
		}

		img {
			width: 35%;
		}
	}
}

@media screen and (min-width: 890px) {
	.home {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		img {
			width: 30%;
		}
	}
}

@media screen and (min-width: 1200px) {
	.home {
		background: url("/assets/SilverBkgrd1.jpg") no-repeat center center/ cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100vh;
		justify-content: center;

		h1 {
			font-size: 3em;
			margin: 0% 0% 1% 0%;
		}

		h2 {
			font-size: 2em;
			margin: 0% 0% 1% 0%;
		}

		img {
			width: 35%;
		}
	}
}
