@use 'src/styles/base.scss' as base;

.resume {
	padding: 70px 1% 10px 1%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	iframe {
		padding: 0px 0px 1% 0px;
		width: 90%;
		height: 100%;
		border: 0;
	}

	a.resHome {
		button {
			width: 75%;
		}
	}
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 768px) {
	.resume {
		padding: 50px 16% 10px 60px;
	}
}

@media screen and (min-width: 890px) {
	.resume {
		padding: 20px 160px 10px 160px;
	}
}

@media screen and (min-width: 1200px) {
	.resume {
		padding: 100px 150px 40px 150px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		iframe {
			padding: 0px 0px 1% 0px;
			width: 90%;
			height: 90%;
			border: 0;
		}

		a.resHome {
			button {
				width: 100%;
			}
		}
	}
}
