@use 'src/styles/base.scss' as base;

.social {
	display: flex;
	position: absolute;
	top: 0;
	justify-content: space-around;
	width: 100%;

	a {
		text-decoration: none;
		outline: none;

		svg {
			font-size: 30px;
			padding: 5px;
			color: white;
			transition: width 0.6s;
		}
	}

	a:nth-child(1) svg {
		background-color: rgb(50, 50, 50);
	}

	a:nth-child(2) svg {
		background-color: rgb(14, 118, 168);
	}

	a:nth-child(3) svg {
		background-color: rgb(59, 89, 152);
	}

	a:nth-child(4) svg {
		background: radial-gradient(
			circle at 35% 100%,
			#fdf497 0,
			#fdf497 5%,
			#fd5949 45%,
			#d6249f 60%,
			#285aeb 90%
		);
	}
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 481px) {
	.social {
		position: absolute;
		width: 42%;
		top: 0;
		left: 0;
		display: flex;

		a {
			svg {
				font-size: 40px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.social {
		position: absolute;
		top: 34.5%;
		left: 0;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 15px;
		width: 150px;

		a {
			svg {
				font-size: 50px;
			}
		}

		svg:hover {
			width: 150px;
			transition-timing-function: ease;
		}
	}
}

@media screen and (min-width: 890px) {
}

@media screen and (min-width: 1200px) {
}
