@use 'src/styles/base.scss' as base;

.project {
	padding: 100px 250px 40px 150px;

	.project1 {
		display: grid;
		grid-template-columns: 70px auto 70px;

		a.arrow {
			align-self: center;
			justify-self: center;
			padding: 0px 10px;

			svg {
				font-size: 3.5em;
				color: base.$darkBlueColor;
			}
		}

		div {
			color: black;
			display: flex;

			a {
				img {
					width: 500px;
					height: 700px;
				}
			}

			div {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 0px 0px 20px 20px;
				max-height: 700px;

				h1 {
					text-align: center;
					color: base.$darkBlueColor;
				}

				a {
					color: base.$darkBlueColor;
				}

				h2 {
					margin: 0;
				}

				p {
					margin: 0;
					font-size: 1.5em;
					color: base.$blueColor;
				}
			}
		}
	}
}
